.loginDiv {
  width: 100vw;
  height: 100vh;
  background-image: url('~assets/images/login.png');
  background-size: cover;
  left: 0;
  top: 0;
  position: relative;
  :global {
    .loginCard {
      width: 440px;
      height: 360px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }

    .loginlogo {
      width: 400px;
      height: 90px;
      display: block;
      margin: 0 auto 20px;
    }
  }
}
